{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      <img src="img/{{ members.imagebw }}">
      <caption> {{ members.instruments }}
    </div>
    <div class="col-sm-8">
      <h3> {{ members.name }} </h3>
      <p> {{ members.text | safe }} </p>
    </div>
  </div>
</article>


{% endblock %}
