{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12 text-center">
      <img class="img-fluid member-img" src="img/{{ members.imagebw }}">
      <p> {{ members.instruments }}</p>
    </div>
    <div class="col-lg-8 col-sm-12 member-text">
      <h3> {{ members.name }} </h3>
      <p> {{ members.text | safe }} </p>
    </div>
  </div>
</article>

{% endblock %}
