.jumbotron.banner {
  background: url(../img/Queen_Behind.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 12rem
}

.jumbotron {
  margin-bottom: 30px;
}
// try to get media querie to work here
@media only screen and (max-width: 600px) {
  .jumbotron.banner {
    background: url(../img/queen-band-wallpaper.jpg);
    background-position: center center;
    background-size: 1000px;
  }
}

