// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
// .albums {
//   padding: 2rem;
//   margin-top: 2rem;
//   border-top: 1.5px solid grey;
// }
.cards {
  margin-bottom: 5rem;
}
.card{
  margin: 15px 0 15px 0;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  margin:20px;
}

h2 {
  text-align: center;
}

h5 {
  margin-top: 10px;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  padding: 10px;
}
$navbar-toggler-icon:white;

h3 {
  text-align: center;
}

.member-img{
  padding-top: 55px;
}

.albums {
  text-align: center;
  margin-top: 75px;
}

.btn-primary {
  background-color:rgb(65, 61, 61);
  width: 100%;
}

.card-title {
  font-size: large;
}
